In [1]:
import pandas as pd
import numpy as np
import copy

# Read the files

In [2]:
sectorhours = pd.read_csv('C:\\Users\\utente\\Documents\\DSSC_IIyear\\Voli\\Dati\\sectorhours.csv')
entry = pd.read_csv('C:\\Users\\utente\\Documents\\DSSC_IIyear\\Voli\\Dati\\entryCount.csv')
entry['Freq'] = entry['Freq'].astype('Int64')

In [3]:
sectorhours
#entry
#entry[entry['Var1'].str.endswith('E')] #Same length -> only _E sectors

               sector_hours      icao role  minute_start  minute_end  capacity
0       EGTTOCK_0000_0100_E   EGTTOCK    E             0          59        49
1       EGTTOCK_0100_0200_E   EGTTOCK    E            60         119        49
2       EGTTOCK_0200_0300_E   EGTTOCK    E           120         179        49
3       EGTTOCK_0300_0400_E   EGTTOCK    E           180         239        49
4       EGTTOCK_0400_0500_E   EGTTOCK    E           240         299        49
...                     ...       ...  ...           ...         ...       ...
24023   LSAGL67_2010_2040_E   LSAGL67    E          1210        1239        23
24024     LYBAL_1659_1800_E     LYBAL    E          1019        1079        41
24025    LYBATN_1600_1700_E    LYBATN    E           960        1019        43
24026    LYBAUN_1600_1700_E    LYBAUN    E           960        1019        43
24027  LYBAUWES_1659_1800_E  LYBAUWES    E          1019        1079        54

[24028 rows x 6 columns]

In [4]:
#sectorhours1 = sectorhours.drop(columns=['icao', 'role', 'minute_start', 'minute_end'])
sectorhours1 = sectorhours.drop(columns=['role'])
sectorhours1

               sector_hours      icao  minute_start  minute_end  capacity
0       EGTTOCK_0000_0100_E   EGTTOCK             0          59        49
1       EGTTOCK_0100_0200_E   EGTTOCK            60         119        49
2       EGTTOCK_0200_0300_E   EGTTOCK           120         179        49
3       EGTTOCK_0300_0400_E   EGTTOCK           180         239        49
4       EGTTOCK_0400_0500_E   EGTTOCK           240         299        49
...                     ...       ...           ...         ...       ...
24023   LSAGL67_2010_2040_E   LSAGL67          1210        1239        23
24024     LYBAL_1659_1800_E     LYBAL          1019        1079        41
24025    LYBATN_1600_1700_E    LYBATN           960        1019        43
24026    LYBAUN_1600_1700_E    LYBAUN           960        1019        43
24027  LYBAUWES_1659_1800_E  LYBAUWES          1019        1079        54

[24028 rows x 5 columns]

In [5]:
sectorhours2 = sectorhours1[sectorhours1['sector_hours'].str.endswith('E')]
sectorhours2.reset_index(drop=True, inplace=True)
sectorhours2

               sector_hours      icao  minute_start  minute_end  capacity
0       EGTTOCK_0000_0100_E   EGTTOCK             0          59        49
1       EGTTOCK_0100_0200_E   EGTTOCK            60         119        49
2       EGTTOCK_0200_0300_E   EGTTOCK           120         179        49
3       EGTTOCK_0300_0400_E   EGTTOCK           180         239        49
4       EGTTOCK_0400_0500_E   EGTTOCK           240         299        49
...                     ...       ...           ...         ...       ...
13485   LSAGL67_2010_2040_E   LSAGL67          1210        1239        23
13486     LYBAL_1659_1800_E     LYBAL          1019        1079        41
13487    LYBATN_1600_1700_E    LYBATN           960        1019        43
13488    LYBAUN_1600_1700_E    LYBAUN           960        1019        43
13489  LYBAUWES_1659_1800_E  LYBAUWES          1019        1079        54

[13490 rows x 5 columns]

In [6]:
sectorhours2 = sectorhours2.merge(entry, how='left', left_on='sector_hours', right_on='Var1')
sectorhours2

,sector_hours,icao,minute_start,minute_end,capacity,Var1,Freq
0,EGTTOCK_0000_0100_E,EGTTOCK,0,59,49,EGTTOCK_0000_0100_E,7
1,EGTTOCK_0100_0200_E,EGTTOCK,60,119,49,EGTTOCK_0100_0200_E,3
2,EGTTOCK_0200_0300_E,EGTTOCK,120,179,49,EGTTOCK_0200_0300_E,3
3,EGTTOCK_0300_0400_E,EGTTOCK,180,239,49,EGTTOCK_0300_0400_E,1
4,EGTTOCK_0400_0500_E,EGTTOCK,240,299,49,NaN,NaN
...,...,...,...,...,...,...,...
13485,LSAGL67_2010_2040_E,LSAGL67,1210,1239,23,LSAGL67_2010_2040_E,21
13486,LYBAL_1659_1800_E,LYBAL,1019,1079,41,LYBAL_1659_1800_E,41
13487,LYBATN_1600_1700_E,LYBATN,960,1019,43,LYBATN_1600_1700_E,39
13488,LYBAUN_1600_1700_E,LYBAUN,960,1019,43,LYBAUN_1600_1700_E,33
13489,LYBAUWES_1659_1800_E,LYBAUWES,1019,1079,54,LYBAUWES_1659_1800_E,61

In [7]:
sectorhours2 = sectorhours2.drop(columns=['Var1'])
sectorhours2

,sector_hours,icao,minute_start,minute_end,capacity,Freq
0,EGTTOCK_0000_0100_E,EGTTOCK,0,59,49,7
1,EGTTOCK_0100_0200_E,EGTTOCK,60,119,49,3
2,EGTTOCK_0200_0300_E,EGTTOCK,120,179,49,3
3,EGTTOCK_0300_0400_E,EGTTOCK,180,239,49,1
4,EGTTOCK_0400_0500_E,EGTTOCK,240,299,49,NaN
...,...,...,...,...,...,...
13485,LSAGL67_2010_2040_E,LSAGL67,1210,1239,23,21
13486,LYBAL_1659_1800_E,LYBAL,1019,1079,41,41
13487,LYBATN_1600_1700_E,LYBATN,960,1019,43,39
13488,LYBAUN_1600_1700_E,LYBAUN,960,1019,43,33
13489,LYBAUWES_1659_1800_E,LYBAUWES,1019,1079,54,61

In [8]:
sectorhours2['load_factor'] = sectorhours2['Freq']/sectorhours2['capacity']
sectorhours2 = sectorhours2[['sector_hours', 'icao', 'minute_start', 'minute_end', 'Freq', 'capacity', 'load_factor']]
sectorhours2

,sector_hours,icao,minute_start,minute_end,Freq,capacity,load_factor
0,EGTTOCK_0000_0100_E,EGTTOCK,0,59,7,49,0.142857
1,EGTTOCK_0100_0200_E,EGTTOCK,60,119,3,49,0.061224
2,EGTTOCK_0200_0300_E,EGTTOCK,120,179,3,49,0.061224
3,EGTTOCK_0300_0400_E,EGTTOCK,180,239,1,49,0.020408
4,EGTTOCK_0400_0500_E,EGTTOCK,240,299,NaN,49,NaN
...,...,...,...,...,...,...,...
13485,LSAGL67_2010_2040_E,LSAGL67,1210,1239,21,23,0.913043
13486,LYBAL_1659_1800_E,LYBAL,1019,1079,41,41,1.000000
13487,LYBATN_1600_1700_E,LYBATN,960,1019,39,43,0.906977
13488,LYBAUN_1600_1700_E,LYBAUN,960,1019,33,43,0.767442
13489,LYBAUWES_1659_1800_E,LYBAUWES,1019,1079,61,54,1.129630

In [9]:
sectorhours2 = sectorhours2.rename({'Freq': 'utilization'}, axis='columns')
sectorhours2

,sector_hours,icao,minute_start,minute_end,utilization,capacity,load_factor
0,EGTTOCK_0000_0100_E,EGTTOCK,0,59,7,49,0.142857
1,EGTTOCK_0100_0200_E,EGTTOCK,60,119,3,49,0.061224
2,EGTTOCK_0200_0300_E,EGTTOCK,120,179,3,49,0.061224
3,EGTTOCK_0300_0400_E,EGTTOCK,180,239,1,49,0.020408
4,EGTTOCK_0400_0500_E,EGTTOCK,240,299,NaN,49,NaN
...,...,...,...,...,...,...,...
13485,LSAGL67_2010_2040_E,LSAGL67,1210,1239,21,23,0.913043
13486,LYBAL_1659_1800_E,LYBAL,1019,1079,41,41,1.000000
13487,LYBATN_1600_1700_E,LYBATN,960,1019,39,43,0.906977
13488,LYBAUN_1600_1700_E,LYBAUN,960,1019,33,43,0.767442
13489,LYBAUWES_1659_1800_E,LYBAUWES,1019,1079,61,54,1.129630

In [10]:
min(sectorhours2['utilization'])

C:\Users\utente\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in greater
  """Entry point for launching an IPython kernel.

1

In [11]:
sectorhours2.to_csv('C:\\Users\\utente\\Documents\\DSSC_IIyear\\Voli\\Dataframe\\shLF.csv')