In [1]:
import pandas as pd
import numpy as np
import copy

In [2]:
lf = pd.read_csv('sectorhoursLF.csv')
check = pd.read_csv('entryCount.csv')

In [10]:
lf
#check

               sector_hours  utilization  capacity  load_factor
0       EGTTOCK_0000_0100_E            0        49     0.000000
1       EGTTOCK_0100_0200_E            2        49     0.040816
2       EGTTOCK_0200_0300_E            1        49     0.020408
3       EGTTOCK_0300_0400_E            0        49     0.000000
4       EGTTOCK_0400_0500_E            1        49     0.020408
...                     ...          ...       ...          ...
13485   LSAGL67_2010_2040_E           10        23     0.434783
13486     LYBAL_1659_1800_E           21        41     0.512195
13487    LYBATN_1600_1700_E           25        43     0.581395
13488    LYBAUN_1600_1700_E           22        43     0.511628
13489  LYBAUWES_1659_1800_E           37        54     0.685185

[13490 rows x 4 columns]

In [13]:
check_merge = lf.merge(check, how='left', left_on='sector_hours', right_on='Var1')

In [14]:
check_merge

,sector_hours,utilization,capacity,load_factor,Var1,Freq
0,EGTTOCK_0000_0100_E,0,49,0.000000,EGTTOCK_0000_0100_E,7.0
1,EGTTOCK_0100_0200_E,2,49,0.040816,EGTTOCK_0100_0200_E,3.0
2,EGTTOCK_0200_0300_E,1,49,0.020408,EGTTOCK_0200_0300_E,3.0
3,EGTTOCK_0300_0400_E,0,49,0.000000,EGTTOCK_0300_0400_E,1.0
4,EGTTOCK_0400_0500_E,1,49,0.020408,NaN,NaN
...,...,...,...,...,...,...
13485,LSAGL67_2010_2040_E,10,23,0.434783,LSAGL67_2010_2040_E,21.0
13486,LYBAL_1659_1800_E,21,41,0.512195,LYBAL_1659_1800_E,41.0
13487,LYBATN_1600_1700_E,25,43,0.581395,LYBATN_1600_1700_E,39.0
13488,LYBAUN_1600_1700_E,22,43,0.511628,LYBAUN_1600_1700_E,33.0
13489,LYBAUWES_1659_1800_E,37,54,0.685185,LYBAUWES_1659_1800_E,61.0

In [15]:
check_merge[['sector_hours', 'utilization', 'Freq']]

               sector_hours  utilization  Freq
0       EGTTOCK_0000_0100_E            0   7.0
1       EGTTOCK_0100_0200_E            2   3.0
2       EGTTOCK_0200_0300_E            1   3.0
3       EGTTOCK_0300_0400_E            0   1.0
4       EGTTOCK_0400_0500_E            1   NaN
...                     ...          ...   ...
13485   LSAGL67_2010_2040_E           10  21.0
13486     LYBAL_1659_1800_E           21  41.0
13487    LYBATN_1600_1700_E           25  39.0
13488    LYBAUN_1600_1700_E           22  33.0
13489  LYBAUWES_1659_1800_E           37  61.0

[13490 rows x 3 columns]